{% extends "base.html" %}
{% block title %}Category: {{ category }}{% endblock title %}
{% block seo_tags %}
<meta property="og:title" content="{{ category | capitalize }} - {{ config.title | title }}" />
<meta property="og:type" content="website" />
<meta property="og:description" content="{{ config.description }}" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:locale" content="{{ config.language }}" />
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:title" content="{{ category | capitalize }} - {{ config.title | title }}" />
<meta name="twitter:description" content="{{ config.description }}" />
<meta name="robots" content="index, follow" />
{% endblock seo_tags %}
{% block content %}
<div>
  <a href="/library" class="flex items-center text-sm text-muted hover:text-primary no-underline!"><i class="ti ti-arrow-left mr-1"></i>Library</a>
  <h1 class="mt-0! md:mt-4!">{{ category | capitalize }}</h1>
  <p class="text-sm text-muted italic">Posts categorized as "{{ category }}"</p>
  <div class="flex flex-col gap-8 pt-6 mt-6 border-t border-t-border">
    {% for post in posts | filter(attribute="draft", value=false) | sort(attribute="created") | reverse %}
      {% include "shortcodes/entry_card.html" %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
