{% extends "base.html" %}
{% block seo_tags %}
<meta property="og:title" content="Category: {{ category }} - {{ config.title | title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ config.rootUrl }}/library/{{ category | slug }}" />
<meta property="og:description" content="Posts on category {{ category }}" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:locale" content="{{ config.language }}" />
{# TODO: add support for og:image using metadata #}
<link rel="canonical" href="{{ config.rootUrl }}/library/{{ category | slug }}" />
<meta name="robots" content="index, follow" />
{% endblock seo_tags %}
{% block title %}Category: {{ category }}{% endblock title %}
{% block content %}
<div>
  <a href="/library" class="text-sm text-muted hover:text-primary no-underline!">&larr; Library</a>
  <h1 class="mt-0! md:mt-4!">{{ category | capitalize }}</h1>
  <p class="text-sm text-muted italic">Posts categorized as "{{ category }}"</p>
  <div class="flex flex-col gap-8 pt-6 mt-6 border-t border-t-border">
    {% for post in posts | filter(attribute="draft", value=false) | sort(attribute="created") | reverse %}
      {% include "shortcodes/entry_card.html" %}
    {% endfor %}
  </div>
</div>
{% endblock content %}
